@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #FF5733;
  --secondary: #000000;
  --terciary: #111827;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}


.flex-col-center{
  @apply flex flex-col items-center justify-center ;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
.font-cinzel {
  font-family: var(--font-cinzel);
}
.font-cormorant-garamond {
  font-family: var(--font-cormorant-garamond);
}
.font-inter {
  font-family: var(--font-inter);
}
.login-input{
  width: 80%;
  padding: 1.2rem;
  border: 1px solid #83311E;
  border-radius: 10px;
}
.login-buton{
  width: 80%;
  font-size: 1.5rem;
  padding: 1.2rem;
  background-color: #83311E;
  color: #f1f5f9;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
/*Header Component*/
.button{
  position:fixed;
  right: 0;
  margin: 0px 20px 0px 0px;
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.1);
  
}
.burger-menu{
  width: 5rem;
  &::after, &::before{
    content: '';
    position: block;
    width: 60%;
    height: 4px;
    background-color: #f1f5f9;
    position:relative;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  &::after{
    top: 5px;
  }
  &::before{
    top: -5px;  
}
}
.burger-menu-active{
  &::after{
    transform: rotate(45deg);
    top: -2px;
  }
  &::before{
    transform: rotate(-45deg);
    top: 0;
  }
}

/*Contact page*/
textarea::-webkit-scrollbar {
  width: 10px; 
  
}
textarea::-webkit-scrollbar-thumb {
  background-color: #090909; 
  border-radius: 5px;
}
textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  cursor: pointer;
}
textarea::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}
.input-contacto {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff33;
  padding: 10px;
  color: #f1f5f9;
  width: 100%;
}
.input-contacto:focus {
  outline: none;
  border-bottom: 1px solid #FF5733;
}

/*
focus:outline-none focus:border-[var(--primary)] transition-all duration-300
Fondo principal	#0f172a	Gris azulado muy oscuro
Fondo contenedor	#1e293b	Gris m치s claro para cajas
Texto principal	#f1f5f9	Casi blanco, muy legible
Detalles/acento 1	#facc15	Amarillo c치lido (inspirado en Luffy)
Detalles/acento 2	#dc2626	Rojo oscuro para botones secundarios
Input background	#334155	Azul gris치ceo m치s claro
Borde inputs/focus	#facc15	Glow dorado al enfocar
:root {
  --background: #FFFFFF;
  --foreground: #000000;
  --primary: #32CD32;
  --secondary: #F4F4F4;
  --border: #E4E4E4;
}

*/
/* Sobre-mi */
.sobre-mi-underline {
  
}